/* RESET */

*{ margin:0; padding:0; }

body, html{ 
	background:transparent;
	vertical-align:baseline;
	font-size:100%;
	font-family: Arial, Verdana, sans-serif;
}

h1{ font-size:26px; }
h2{ font-size:20px; }
h3{ font-size:16px; }
h4{ font-size:14px; }
h5{ font-size:12px; }
h6{ font-size:10px; }

fieldset{ border: none; }

li{ list-style:none; }

a{text-decoration:none; outline: none;}

a:hover{ text-decoration:underline }

img{ border:none; }
 
div.clearfix{ width:1px; height:1px; display:block; clear:both; content:'.'; }


/*----------------------------------------------------------------------GENERALES-----------------------------------------------------------------*/

body{ background: #f9f9f9 url("images/body-bg.jpg") repeat-x; font-family: Arial, sans-serif;  }

p, a{ color: #969696; display: block; } 

.container { width: 960px; margin: 0 auto; }

.content h2, .pre-footer h4, .content h3{ font-family: 'LeagueGothic', Arial, sans-serif; font-size: 25px; }

.main-imgs, .ads li{ background: #eef1f2; border: 1px solid #e2e2e2; }

.primary h2, .secondary h3{ padding: 0 0 20px 0; margin: 30px 0 0 0; }

@font-face {
    font-family: 'LeagueGothic';
    src: url('font/League-Gothic/League_Gothic-webfont.eot');
    src: url('font/League-Gothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/League-Gothic/League_Gothic-webfont.woff') format('woff'),
         url('font/League-Gothic/League_Gothic-webfont.ttf') format('truetype'),
         url('font/League-Gothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*-----------------------------------------------------------------------HEADER-----------------------------------------------------------------*/

.header img{ margin: 20px auto; display: block; }

.top ul { overflow: hidden; height: 39px; }

	.top li{ float: left; line-height: 39px; padding: 0 0 0 25px }

.myspace, .facebook, .twitter{ margin: 0 10px 0 0; }

.search input{ border: none; background: #4b4945 url(images/search-icon.png) no-repeat 230px 3px; padding: 5px 0; width: 256px; margin: 0 0 0 -25px; }

	.top li.rss{ background: url("images/rss.png") no-repeat 0 10px; margin: 0 345px 0 0; }
	
	.top li.myspace{ background: url("images/myspace.png") no-repeat 0 10px; }
	
	.top li.facebook{ background: url("images/facebook.png") no-repeat 0 10px; }
	
	.top li.twitter{ background: url("images/twitter.png") no-repeat 0 10px; }

.top li a{ font-size: 13px; }

/*-----------------------------------------------------------------------MENU-----------------------------------------------------------------*/

.menu{ overflow: hidden; border-bottom: 5px solid black; padding: 0 0 30px 0; }

	.menu li{ float: left; margin: 0 20px 0 0; }
	
		.page-1{ width: 105px; }
		
		.page-2{ width: 126px; }
		
		.page-3{ width: 110px; }
		
		.page-4{ width: 90px; }
		
		.page-5{ width: 110px; }
		
	.menu a { text-transform: uppercase; color: #827978; }
	
	.menu a:hover{ text-decoration: none; }
		
	.menu a.active, a.active span, .menu a:hover, .menu a:hover span{ color: #D7412C; }
	
	.menu span{ font-family: 'LeagueGothic', sans-serif; font-size: 29px; color: #333333; }
	
	.menu small{ font-size: 10px; }

/*-----------------------------------------------------------------------FEATURE-----------------------------------------------------------------*/

.feature{ border-top: 3px solid #aaaeae; margin: 2px 0 0 0; padding: 20px 0 0 0; }

#slider-extra, .slides-btns ul{ overflow: hidden; }

	.caption, .slides-btns{ padding: 10px 0 0 0; }

	.caption, .slides-btns li{ float: left; }
	
		.caption p{ font-family: Trebuchet MS, sans-serif; font-size: 20px; color: #3e403f;}
		
		.caption span{ font-family: Verdana, sans-serif; text-transform: uppercase; color: #cdcfcf; font-size: 10px; }
	
	.slides-btns{ float: right; }
	
		.slides-btns a{ background:url("images/btn-slide.png") no-repeat; margin: 0 10px 0 0; padding: 0 10px;  text-indent: -9999px; }
		
		.slides-btns a:hover{ background:url("images/btn-slide-active.png"); }
		
		.slides-btns a.active{ background:url("images/btn-slide-active.png"); }


/*-----------------------------------------------------------------------CONTENT-----------------------------------------------------------------*/

.content{ margin: 15px 0 0 0; background: url("images/content-deco.png") no-repeat -5px 0 ; overflow: hidden; position: relative;}

.primary{ clear: both; width: 582px; float: left; overflow: hidden; padding: 0 0 0 30px; }
 
	.main-imgs{ margin: 20px 0 0 0;  overflow: hidden; clear: both; width: 564px; padding: 4px 2px 0px 5px; margin: 0 0 10px 0; }

.img-1{ padding: 0 3px 0 0 }
		
		.post{ float: left; width: 285px; margin: 0 5px 50px 0;}
		
			.post h3 a{ color: #3e403f; font-family: Trebuchet MS, sans-serif; font-size: 16px; margin: 0 0 15px 0; }
			
				.post .top{ overflow: hidden; margin: 0 15px 0 0; padding: 0 0 10px 0; border-bottom: 1px solid #cbcbcb; }
			
					.meta, .comments{ font-size: 10px; text-transform: uppercase; }
					
					.meta{ float: left; background: url("images/square.jpg") no-repeat 0 center; padding: 0 0 0 8px;}
					
					.comments{ float: right; }
					
					.bottom p{ font-size: 12px; line-height: 19px; padding: 10px 0;}
					
					.bottom a{ background: #2a2c2b; padding: 3px 0 3px 10px; display: inline; font-family: Aria, sans-serif; font-size: 12px; margin: 0 10px 0 0; text-decoration: none; }
					
					.bottom a span{ background: #d7412c url("images/read-more-arrow.png") no-repeat 3px center; padding: 3px 10px; margin: 0 0 0 18px; }
					
					.more{ overflow: hidden; clear: both; background: url("images/content-deco-bottom.png") no-repeat; padding: 17px 0 15px 486px; font-family: 'LeagueGothic', sans-serif; font-size: 25px; color: #333333; text-decoration: none; width: 606px; position: relative; left: -30px; }
					
						.more span{ border-bottom: 3px solid #d7412c; }
	
.secondary{ float: right; width: 287px; margin-right: 30px;}
	
	.ads { overflow: hidden; padding: 0 0 20px 0; }

		.ads li{ float: left; padding: 5px; margin: 0 16px 16px 0; }
		
			.ads li:nth-child(2), .ads li:nth-child(4){ margin-right: 0; }
				
		.links li{ background: url("images/square.jpg") no-repeat 0 center; border-bottom: 1px solid #e2e2e2; padding: 10px 10px 0 10px; }
		
		.links a { font-size: 13px; padding: 0 0 10px 0; text-decoration: none;}


/*-----------------------------------------------------------------------FOOTER-----------------------------------------------------------------*/

.footer-main{ clear: both; background: #090803; margin: 46px 0 0 0; overflow: hidden; padding: 42px 0 0 0; }

	.pre-footer h4{ color: #c2c2b3; padding: 0 0 20px 0; }
	
	 .cat{ float: left; width: 288px; margin: 0 30px 0 0;}
	 
	 .flickr{ margin-right: 0; width: 310px; }
	 
	.pre-footer .links li{ float: none; }

	.pre-footer div li{ float: left; }
	
	.gallery li{ margin: 0 15px 20px 0; }
	
	.gallery a{ padding: 5px 5px 0 5px; background: #727272; border: 1px solid #848484}
	
.footer{ clear: both; overflow: hidden;}

	.footer img{ float: left; margin: 0 25px 0 0;}
	
	.footer p{ padding: 35px 0 0; color: #333331; font-size: 13px; }




